body{
    margin: auto auto;
}


main{
    margin-top: 9vw ;
    background-color: #c3d9d9;
    height: 100%;

    padding: 5vw 5vw;
}

ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
a{
    text-decoration: none;
    color: darkslategray;
}

li{
    list-style-type: none;
    background-color: #e8f1f1;
    margin: 0 2vw;
    padding: 2vw;
}

li:hover{
    background-color: #89a9a9;
    color: #cafcfc;
}

