/*Body parts*/

    body {
        margin: 0;
    }

    main {
        padding-left: 24.5vw;
    }
/* Main*/
    .slides {
        display: inline-grid;
        grid-template-columns: auto auto auto;
    }

    .slide {
        width: 20vw;
        height: 20vh;
        margin-bottom: 10vh;
    }

    .slide-img {
        max-height: 20vh;
        max-width: 15vw;
        padding-left: 1vw;
    }

    .slide-link {
        align-items: center;
        text-decoration: none;
        color: black;
    }

    .soccer {
        padding-left: 3.5vw;
        text-decoration: none;
    }

    .tennis {
        padding-left: 4vw;
        text-decoration: none;
    }

    .fitness-text {
        align-content: center;
        padding-left: 4vw;
        text-decoration: none;
    }


    h1 {
        font-size: 3em;
        text-decoration: none;
        padding-left: 1vw;
    }

    h2 {
        text-decoration: none;
        color: black;
        padding-left: 3vw;
        font-size: 1.2em;
    }
