body {
    margin: 0;
}

.slides {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    column-count: 3;
}

.slide {
    width: 20vw;
    height: 30vh;
    margin: 0;
}

.slide-img {
    display: block;
    max-height: 20vh;
    max-width: 15vw;
}

.slide-link {
    align-content: center;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}